h1{
    color: gray;
    font-weight: bold;
    font-size: 4vw;
}

.warp{
    margin-right: 20px;
}

.details{
    display:inline-block;
    margin-right: 20px;
    font-size:1.5vw;
    color:gray;
    white-space:nowrap;
    position: absolute;
    
}

#p{
    height: 8%;
    width: 8%;
}

#m{
    height: 5%;
    width: 5%;
}
#m:hover{
   transform: scale(1);
}

.searchWrraper{
    color: gray;
    font-size:2vw;
    border-radius: 25px;
}

button{
    border-radius: 25px;
    margin-bottom: 20px;
}

input{
    border-radius: 25px;
    
}

button:hover{
    opacity: 0.6;
}



